@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model StoringImages.Models.ImageHolder

@{
  Layout = "_Layout";
}

@section Title { Upload Image }

<h1>Upload Image</h1>

<form method="post"
      asp-action="Upload"
      asp-controller="Home"
      enctype="multipart/form-data">
  <input type="file"
         asp-for="ImageFile" />
  <input type="submit"
         value="Upload" />
</form>